@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
}

html,
body {
  margin: 0;
  font-family: var(--sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100svh;
}
